<a href="/">Home</a>
<h4><%= @train_info[0]["name"] %></h4>

<% @train_info.each do |info| %>
  <br>
  <p>City: <%= info["city"] %></p>
  <p>Time: <%= info["time"] %></p>
  <br>
  <hr>
<% end %>
<h4>Add new information to <%= @train_info[0]["name"] %></h4>
<form action="/new_train_info/<%= @train_info[0]["name"] %>" method="post">
  <div class="input-group">
    <span class="input-group-addon">City</span>
    <input id="msg" type="text" class="form-control" name="city" placeholder="Enter City Name">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon">Time</span>
    <input id="msg" type="text" class="form-control" name="time" placeholder="Enter Train Time">
  </div>
  <br>
  <button type="submit" class="btn btn-success">Add</button>
</form>
